.row{
    margin-right: 0px !important;
    
}
.addBtnPadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.addBtn{
    margin-top: 32px;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
    height: 250px !important;
}

.dataTableSearch{
    /* width: 100px; */
}

.formCardStyle{
    box-shadow: 1px 1px 3px -1px rgb(0 0 0 / 70%);
    padding: 25px;
}