@import '~react-pro-sidebar/dist/scss/styles.scss';

.dropdown_btn {
    background: #1D1D1D;
    border: 1px solid #1D1D1D;
    color: #fff;

}
.newAdminBtn{
    background: #1D1D1D;
    border: 1px solid #1D1D1D;
    color: #fff;
    border-radius: 10px;
    width: 80%; 
    text-align: center;
}
.dropdown-menu{
    left: 20%;
}

.pro-sidebar {
    width: 280px;
}